.truncate {
    width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer;
}

.filter {
    display: inline !important;
    width: 50% !important;;
    float: right !important;
}

.historyFilter {
    display: inline !important;
    font-size: 16px;
    float: right !important;
}