@(applicationStatusList: List[model.DashboardModel.ApplicationStatus])(implicit request: play.api.mvc.Request[Any])


@statusDivHeight = @{
    val divHeight: Int = 20 * applicationStatusList.map(_.application.environments.size).max
    divHeight + "px"
}

@appStatusColor(statusInAllEnvironments: List[model.DashboardModel.ApplicationStatus]) = @{
    val allNonOptionalEnvironmentsOk = statusInAllEnvironments.filter(!_.environment.optional).forall(!_.error)

    if(allNonOptionalEnvironmentsOk)
        "panel-green"
    else
        "panel-red"
}

@currentApplicationFilter = @{
    if (request.getQueryString("filter").isDefined)
        request.getQueryString("filter").get
    else
        ""
}

@main("Dashboard - Applications") {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Applications
                    <input id="applicationNameFilterDiv" class="form-control filter" placeholder="Filter app name" autofocus value="@currentApplicationFilter">
                </h1>
            </div>

            @applicationStatusList.groupBy(_.application.name).toSeq.sortBy(_._1).map {
                case (applicationName, statusInAllEnvironments) => {
                    <div class="col-sm-3" application-name="@applicationName">
                        <div class="panel @appStatusColor(statusInAllEnvironments)" >
                            <div class="panel-heading" style="overflow: hidden;">
                                <h3 class="panel-title">
                                    @applicationName
                                    <i class="fa fa-arrow-circle-right fa-lg cursor-pointer" onclick="location.href='/applications/@applicationName'"></i>
                                    <i class="fa fa-refresh fa-lg cursor-pointer" onclick="loadApplicationStatusDiv('@applicationName');" style="float: right;"></i>
                                </h3>

                            </div>
                            <div class="panel-body">

                                <div id="@applicationName-status-div" style="height: @statusDivHeight; overflow: hidden;">
                                    @common.applicationStatusList(statusInAllEnvironments)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}
