@(applicationStatusList: List[model.DashboardModel.ApplicationStatus])

@import model.DashboardModel._

@main("Dashboard - Applications") {

    <div class="container-fluid">

    @if(applicationStatusList.size > 0) {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Applications / (@applicationStatusList.head.application.name)</h1>
            </div>

            @applicationStatusList.map { applicationStatus: ApplicationStatus =>
            <div class="col-sm-4" style="padding-top: 7px;">
                <div class="card border-@if(applicationStatus.error){danger}else{success}">
                    <div class="card-header text-white bg-@if(applicationStatus.error){danger}else{success}">
                        @applicationStatus.environment.name
                    </div>
                    <div class="card-body text-dark">
                        <div class="card-text">
                            @common.applicationStatusBody(applicationStatus)
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    }
    </div>
}
