@(applicationStatusList: List[model.DashboardModel.ApplicationStatus])(implicit request: play.api.mvc.Request[Any])


@statusDivHeight = @{
    val divHeight: Int = 26 * applicationStatusList.map(_.application.environments.size).max
    divHeight + "px"
}

@appStatusColor(statusInAllEnvironments: List[model.DashboardModel.ApplicationStatus]) = @{
    val allNonOptionalEnvironmentsOk = statusInAllEnvironments.filter(!_.environment.optional).forall(!_.error)

    if(allNonOptionalEnvironmentsOk)
        "border-success"
    else
        "border-danger"
}

@appHeaderStatusColor(statusInAllEnvironments: List[model.DashboardModel.ApplicationStatus]) = @{
    val allNonOptionalEnvironmentsOk = statusInAllEnvironments.filter(!_.environment.optional).forall(!_.error)

    if(allNonOptionalEnvironmentsOk)
        "bg-success"
    else
        "bg-danger"
}


@currentApplicationFilter = @{
    if (request.getQueryString("filter").isDefined)
        request.getQueryString("filter").get
    else
        ""
}

@main("Dashboard - Applications") {
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12" style="padding-top: 60px;">
                <h3 class="page-header">
                    Applications
                    <input id="applicationNameFilterDiv" class="form-control filter" placeholder="Filter app name" autofocus value="@currentApplicationFilter">
                </h3>
            </div>

            @applicationStatusList.groupBy(_.application.name).toSeq.sortBy(_._1).map {
                case (applicationName, statusInAllEnvironments) => {
                    <div class="col-sm-3" application-name="@applicationName" style="padding-top: 7px;">
                        <div class="card @appStatusColor(statusInAllEnvironments)" >
                            <div class="card-header text-white @appHeaderStatusColor(statusInAllEnvironments)" style="overflow: hidden;">
                                @applicationName
                                <i class="fa fa-arrow-circle-right fa-lg cursor-pointer" onclick="location.href='/applications/@applicationName'"></i>
                                <i class="fa fa-refresh fa-lg cursor-pointer" onclick="loadApplicationStatusDiv('@applicationName');" style="float: right;"></i>
                            </div>
                            <div class="card-body text-dark">
                                <div class="card-text">
                                    <div id="@applicationName-status-div" style="height: @statusDivHeight; overflow: hidden;">
                                        @common.applicationStatusList(statusInAllEnvironments)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}
