@(applicationStatusList: List[model.DashboardModel.ApplicationStatus])

@import model.DashboardModel._

@main("Dashboard - Applications") {

    <div class="container-fluid">

    @if(applicationStatusList.size > 0) {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Environments / (@applicationStatusList.head.environment.name)</h1>
            </div>

            @applicationStatusList.map { applicationStatus: ApplicationStatus =>
            <div class="col-sm-4">
                <div class="panel panel-@if(applicationStatus.isError){red}else{green}">
                    <div class="panel-heading">
                        <h3 class="panel-title"> @applicationStatus.application.name</h3>
                    </div>
                    @common.applicationStatusBody(applicationStatus)
                </div>
            </div>
            }

        </div>
    }
    </div>
}
