@(applicationStatusList: List[model.DashboardModel.ApplicationStatus])

@import model.DashboardModel._ ;

@statusDivHeight = @{
    val divHeight: Int = 20 * applicationStatusList
            .groupBy(applicationStatus => applicationStatus.environment.name)
            .map {case (environmentName, applicationStatusList) => applicationStatusList.size}
            .max
    s"${(20 + divHeight)}px"
}

@appStatusColor(statusInAllEnvironments: List[model.DashboardModel.ApplicationStatus]) = @{
    val allNonOptionalAppsInEnvironmentOk = statusInAllEnvironments
            .filter(applicationStatus => !applicationStatus.environment.optional)
            .forall(applicationStatus => !applicationStatus.error)

    if(allNonOptionalAppsInEnvironmentOk)
        "border-success"
    else
        "border-danger"
}

@appHeaderStatusColor(statusInAllEnvironments: List[model.DashboardModel.ApplicationStatus]) = @{
    val allNonOptionalAppsInEnvironmentOk = statusInAllEnvironments
    .filter(applicationStatus => !applicationStatus.environment.optional)
    .forall(applicationStatus => !applicationStatus.error)

    if(allNonOptionalAppsInEnvironmentOk)
        "bg-success"
    else
        "bg-danger"
}


@main("Dashboard - Environments") {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding-top: 60px;">
                <h3 class="page-header">Environments</h3>
            </div>

            @applicationStatusList.groupBy(_.environment.name).map {
                case (environmentName, statusInAllEnvironments) => {
                    <div class="col-sm-4" environment-name="@environmentName" style="padding-top: 7px;">
                        <div class="card @appStatusColor(statusInAllEnvironments)">
                            <div class="card-header text-white @appHeaderStatusColor(statusInAllEnvironments)"
                                    onclick="location.href='/environments/@environmentName'" style="cursor: pointer;">
                                @environmentName
                                <i class="fa fa-arrow-circle-right fa-lg"></i>
                            </div>
                            <div class="card-body text-dark">
                                <div style="height: @statusDivHeight; overflow: hidden;">
                                    <table>
                                    @statusInAllEnvironments.map { status: ApplicationStatus =>
                                        <tr>
                                          <td>@common.applicationStatusIcon(status)</td>
                                          <td><a href="@status.environment.statusPageUrl">@status.application.name</a></td>
                                          <td>&nbsp;</td>
                                          <td><span class="badge">@status.version</span></td>
                                        </tr>
                                    }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}
