@import service.VersionHistoryService
@(history: Array[VersionHistoryService.VersionHistory], numberOfDays: Int)

@main("Dashboard - History") {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Deployment history</h1>
            </div>

            <div class="col-lg-12">
                <div class="historyFilter">
                    [@if(numberOfDays == 1){1 day}else{<a href="/history/1">1 day</a>}]
                    [@if(numberOfDays == 2){2 days}else{<a href="/history/2">2 days</a>}]
                    [@if(numberOfDays == 7){1 week}else{<a href="/history/7">1 week</a>}]
                    [@if(numberOfDays == 14){2 weeks}else{<a href="/history/14">2 weeks</a>}]
                    [@if(numberOfDays > 14){All}else{<a href="/history/30">all</a>}]
                    &nbsp;
                </div>
                <div class="historyFilter">
                    @history.groupBy(_.environment).toSeq.sortBy(_._1).map {
                        case (environment, versionsHistoryInEnv) => {
                            <label for="environmentFilter@environment"><input type="checkbox" class="environmentFilter" id="environmentFilter@environment" value="@environment"  />@environment</label>
                        }
                    }
                </div>
                <div class="historyFilter">
                    @history.groupBy(_.applicationName).toSeq.sortBy(_._1).map {
                        case (applicationName, versionsHistoryInEnv) => {
                            <label for="applicationFilter@applicationName"><input type="checkbox" class="applicationFilter" id="applicationFilter@applicationName" value="@applicationName" />@applicationName</label>
                        }
                    }
                </div>
            </div>

            <style>
                #historyContainer {
                    box-sizing: border-box;
                    width: 100%;
                    height: 300px;
                }
                #historyContainer .vis.timeline .item.selected {
                    background-color: lightyellow;
                }
                #historyContainer .vis.timeline .item {
                    background-color: lightgreen;
                }
            </style>


            <div class="col-sm-12">
                <div id="historyContainer"></div>
            </div>

            <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.4.0/vis.css" rel="stylesheet" type="text/css" />
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.4.0/vis.js"></script>

            <script>
                var groups = new vis.DataSet();
                var items = new vis.DataSet();

                @history.groupBy(_.environment).toSeq.sortBy(_._1).map {
                    case (environment, versionsHistoryInEnv) => {
                        groups.add({id: '@environment', content: "@environment"});
                        @versionsHistoryInEnv.map { event =>
                        var item = {id : '@event.id', appName: '@event.applicationName', group : '@environment', content : '@event.applicationName (@event.version)', start : moment("@event.eventDate" ), type : 'box'}
                        items.add ( item ) ;
                        }
                    }
                }

                var container = document.getElementById ( 'historyContainer' ) ;
                var now = moment().minutes(0).seconds(0).milliseconds(0);
                var options = {
                    groupOrder : 'content',
                    start: now.clone().add(-@numberOfDays, 'days'),
                    end: now.clone().add(4, 'hours')
                    //zoomMin: 1000 * 60,          // a minute
                    //zoomMax: 1000 * 60 * 60 * 24 * 30 * 3  // three months
                } ;
                var timeline = new vis.Timeline ( container ) ;
                timeline.setOptions ( options ) ;
                timeline.setGroups ( groups ) ;

                // timeline filtering
               function filterEnvironmentNames(environmentNames) {
                   var filteredGroups = new vis.DataSet ( );
                   groups.forEach(function(group) {
                        if (_.contains(environmentNames, group.id)) {
                            filteredGroups.add(group)
                        }
                   });
                   timeline.setGroups(filteredGroups);
               }

              function filterApplicationNames(applicationNames) {
                   var filteredItems = new vis.DataSet ( );
                   items.forEach(function(application) {
                        if (_.contains(applicationNames, application.appName)) {
                            filteredItems.add(application)
                        }
                   });
                   timeline.setItems(filteredItems);
               }

                // initialize checkbox filter listeners
                window.onload = function () {
                    $("input[type='checkbox']").change(function() {
                        var environmentNames = _.map($("input[class='environmentFilter']:checked"), function(checkbox){return checkbox.value});
                        filterEnvironmentNames(environmentNames);
                    });
                    $("input[type='checkbox']").change(function() {
                        var applicationNames = _.map($("input[class='applicationFilter']:checked"), function(checkbox){return checkbox.value});
                        filterApplicationNames(applicationNames);
                    })
                }

            </script>

        </div>
    </div>
}
