@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Dashboard">
        <meta name="author" content="Andrzej">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- From play framework -->
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>

    <body>
        <div id="wrapper">
            <!-- nav to be cleaned up !!-->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Dashboard V1.0</a>
                </div>

                <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="active">
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse in">
                                    <li>
                                        <a href="/applications"><i class="fa fa-th-list fa-fw"></i> Applications</a>
                                    </li>
                                    <li>
                                        <a href="/environments"><i class="fa fa-th-list fa-fw"></i> Environments</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="#"><i class="fa fa-cog fa-fw"></i> Configuration<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="/admin/config/current"><i class="fa fa-edit fa-fw"></i>Current config</a>
                                    </li>
                                    <li>
                                        <a href="/admin/config/builder"><i class="fa fa-magic fa-fw"></i>Config builder</a>
                                    </li>
                                    <li>
                                        <a href="/admin/config/history"><i class="fa fa-history fa-fw"></i>Config history</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                        <!-- /.sidebar-collapse -->
                </div>
                    <!-- /.navbar-static-side -->
            </nav>
            <div id="page-wrapper" style="min-height: 896px;">

            @content

            </div>
        </div>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js"></script>
        <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/bower_components/raphael/raphael-min.js"></script>
        <script src="http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
        <script>
            // tooltip demo
            $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
            })

            // popover demo
            $("[data-toggle=popover]")
            .popover()
        </script>
    </body>
</html>