@(applicationStatus: model.DashboardModel.ApplicationStatus)

@statusWindowHeight(status: model.DashboardModel.ApplicationStatus) = @{
    if (status.hasLinks) 150 + 25 * status.application.links.size + "px"
    else "150px"
}


<div class="panel-body">
    <div style="height: @statusWindowHeight(applicationStatus); overflow: hidden;">
        <table>
            <tr>
                <td colspan="3">
                    @common.applicationStatusIcon(applicationStatus)
                    @if(!applicationStatus.error){
                        <span class="badge">@applicationStatus.version</span>
                    }else{
                        @applicationStatus.statusPageResponse.errorMessage
                    }
                </td>
            </tr>
            <tr>
                <th colspan="3">&nbsp;</th>
            </tr>
            <tr>
                <th>Url</th>
                <td>&nbsp</td>
                <td><div><a style="white-space:nowrap;" href="@applicationStatus.environment.statusPageUrl">@applicationStatus.environment.statusPageUrl</a></div></td>
            </tr>
            @if(applicationStatus.host.isDefined){
                <tr>
                    <th>Host</th>
                    <td>&nbsp</td>
                    <td>@applicationStatus.host</td>
                </tr>
            }
            @if(applicationStatus.hasLinks) {
                <tr>
                    <th colspan="3">&nbsp;</th>
                </tr>
                <tr>
                    <th colspan="3">Application links</th>
                </tr>
                @applicationStatus.application.links.map {link: model.DashboardModel.Link =>
                    @if(link.isRelative) {
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <a href="@applicationStatus.environment.baseUrl@link.href">@link.title</a>
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <th colspan="3">&nbsp;</th>
                </tr>
                <tr>
                    <th colspan="3">Other links</th>
                </tr>
                @applicationStatus.application.links.map {link: model.DashboardModel.Link =>
                    @if(!link.isRelative) {
                        <tr>
                            <td></td>
                            <td colspan="2">
                                <a href="@link.href">@link.title</a>
                            </td>
                        </tr>
                    }
                }
            }
        </table>

    </div>
</div>