@(status: model.DashboardModel.ApplicationStatus)

@severityColor(status: model.DashboardModel.ApplicationStatus) = @{
    if (status.forbidden) "gold"
    else if (status.timeout) "gold"
    else if (status.error) "orangered"
    else "forestgreen"
}

@statusIcon(status: model.DashboardModel.ApplicationStatus) = @{
    if (status.forbidden) "fa-exclamation-triangle"
    else if (status.timeout) "fa-clock-o"
    else if (status.error) "fa-exclamation-circle"
    else "fa-check-circle"
}

<i class="fa @statusIcon(status) fa-lg" style="color: @severityColor(status); padding-right: 5px;" title="@status.statusPageResponse.errorMessage" alt="@status.statusPageResponse.errorMessage"></i>
