@(statusInAllEnvironments: List[model.DashboardModel.ApplicationStatus])

@import model.DashboardModel._;

<table>
@statusInAllEnvironments.map { status: ApplicationStatus =>
    <tr>
        <td>@common.applicationStatusIcon(status)</td>
        <td><a href="@status.environment.statusPageUrl">@status.environment.name</a></td>
        <td>&nbsp;&nbsp;</td>
        <td>
            <span class="badge bg-secondary">@status.version</span>
        </td>
        <td>
            @status.attributes.map {attribute: AttributeValue =>
                <span class="badge bg-secondary">@attribute.value</span>
            }
        </td>
    </tr>
}
</table>